# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# Base de datos
*.db
*.sqlite

# PyInstaller
build/
dist/
*.spec

# Imágenes subidas
static/uploads/*

# Archivos temporales
*.log
*.tmp

# IDE
.vscode/
.idea/

# Mac
.DS_Store