<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrganizeIt - Gestor de Tareas</title>
</head>
<body>
    <header>
        <h1>OrganizeIt</h1>
        <p>Organiza. Prioriza. Cumple.</p>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>CETIS 61 - Especialidad de Programación</p>
        <p>OrganizeIt - Gestor de Tareas por Categorías</p>
    </footer>
</body>
</html>