{% extends "base.html" %}
{% block title %}Iniciar Sesión - OrganizeIt{% endblock %}
{% block content %}

<h2>Iniciar Sesión</h2>
<p>Accede a tu cuenta para gestionar tus tareas</p>

{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<form method="POST" action="{{ url_for('login') }}">
    <label for="email_login"><strong>Correo Electrónico:</strong></label>
    <input type="email" id="email_login" name="email_login" 
        placeholder="ejemplo@correo.com" required>
    
    <label for="password_login"><strong>Contraseña:</strong></label>
    <input type="password" id="password_login" name="password_login" 
        placeholder="Ingresa tu contraseña" required>
    
    <button type="submit">Ingresar</button>
</form>

<br>
<div style="text-align: center;">
    <p>¿No tienes cuenta? <a href="{{ url_for('registrar') }}"><strong>Regístrate aquí</strong></a></p>
</div>

{% endblock %}
